.login
    display: flex 
    justify-content: center
    align-items: center
    gap: 5px
    cursor: pointer
.text-right-login-login
    height: 100%
    width: 100%
.login__logo
    display: flex
    justify-content: center
    align-items: center
    .login__logo__icon
        width: 24px
        height: 24px
    .text-right-login
