.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contact .t-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .t-contact .contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .t-contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
