.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.lang .lang-vn, .lang .lang-en {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.lang .lang-vn .flag-left-header, .lang .lang-en .flag-left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 24px;
}

.lang .lang-vn .flag-left-header .img-flag-left-header, .lang .lang-en .flag-left-header .img-flag-left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
