.list-product-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.list-product-container .list-product-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.list-product-container .list-product-table .thead-container {
  min-width: 100%;
  display: flex;
}

.list-product-container .list-product-table .thead-container .thead-container-tr {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: calc( 50% / 6);
  gap: 5px;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container:not:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container:not:first-of-type .th-container-span {
  color: #1ca64d !important;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container:first-of-type {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container .th-container-p > svg {
  color: #1ca64d;
}

.list-product-container .list-product-table .thead-container .thead-container-tr .th-container .th-container-span {
  font-weight: 600;
  margin-bottom: 2px;
}

.list-product-container .list-product-table .tbody-container-tr {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.list-product-container .list-product-table .tbody-container-tr .td-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: calc( 50% / 6);
  gap: 5px;
}

.list-product-container .list-product-table .tbody-container-tr .td-container:not:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-product-container .list-product-table .tbody-container-tr .td-container:not:first-of-type .td-container-span {
  color: #1ca64d !important;
}

.list-product-container .list-product-table .tbody-container-tr .td-container:first-of-type {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 8px;
}

.list-product-container .list-product-table .tbody-container-tr .td-container .td-container-p > svg {
  color: #1ca64d;
}

.list-product-container .list-product-table .tbody-container-tr .td-container .td-container-span {
  font-weight: 600;
  margin-bottom: 2px;
}

.list-product-container .list-product-table .tbody-container-tr .td-container .td-container-button {
  padding: 10px 16px;
  color: #fff;
  background: #1ca64d;
  border-radius: 10px;
}

.list-product-container .list-product-table .tbody-container-tr .td-container .td-container-img {
  widht: 24px;
  height: 24px;
  object-fit: cover;
}

.list-product-table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.75);
}

.list-product-table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.95);
}
