@media screen and ( max-width: 1200px )
    .banner-home
        background-size: cover !important
        flex-direction: column !important
        padding: 10px
        *
            font-size: 16px !important
        .banner-support, .banner-discount
            width: 100% !important
@media screen and ( max-width: 864px )
    .th-com-h-1, .th-com-h-2, .th-com-h-expected, .td-com-v-1, .td-com-v-2, .th-com-d-expected
        display: none !important
    .menu-login-component-link-text
        display: none !important
    .th-container, .td-container
        width: 20% !important
    .th-container-span
        white-space: nowrap !important
        overflow: auto !important
    .header
        height: auto !important
        flex-direction: column !important
    .popup-payment
        flex-direction: column-reverse !important
        .left-popup-payment-wrapper
            width: 100% !important
            img
                object-fit: contain
        .right-popup-payment-wrapper
            width: 100% !important
            >div
                display: flex
                justify-content: center
                align-items: center
    .popup-payment-wrapper
        display: block !important
        overflow: auto
        .popup-payment
            width: 100% !important
@media screen and ( max-width: 768px )
    .tool-check
        flex-direction: column !important
        gap: 10px
    .tool-check-component-check
        height: 135px !important
        width: 100% !important
        margin: 0 !important
        padding: 10px !important
        .tool-check-icon-check
            height: 68px !important
        >div
            height: 135px !important
    .account-page
        flex-direction: column
        justify-content: flex-start !important
        .left-side-account
            width: 100% !important
            max-width: 100% !important
        .right-side-account
            width: 100% !important
            max-width: 100% !important
@media screen and ( max-width: 625px )
    .header-right
        margin-top: 8px !important
    .th-container-p
        display: none !important
    .list-product-table
        * 
            font-size: 14px !important
    .left-header
        flex-direction: column !important
        width: 100% !important
    .history-transfer
        padding: 0 !important
        overflow-x: auto
    .list-product-container
        overflow-x: auto
    .dv-v-a
        font-size: 13px !important
@media screen and ( max-width: 450px )
    .td-container-button-btn
        font-size: 8px !important
    .list-product-table
        * 
            font-size: 12px !important
        .td-container-button-btn
            font-size: 10px !important
    .navigation
        flex-direction: column
        align-items: flex-start !important
        gap: 10px
    .contact
        flex-direction: column
        width: 100%
        align-items: flex-start !important
    .lang
        justify-content: flex-start !important
        width: 100%
    .header-right
        width: 100% 
        .login
            justify-content: flex-start !important
    .banner-discount, .banner-support
        *
            font-size: 14px !important
    .title-component-login-body-login
        padding: 0 !important
    .header
        gap: 10px
    .banner-item-content
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    .account-menu
        align-items: flex-start !important
        flex-direction: column !important
    .detail-infomation-account
        width: 100% !important
    .component-detail-info-account
        flex-direction: column
        height: auto !important
        align-items: flex-start !important
        gap: 10px
        .right-component-detail-info
            input
                text-align: left !important
    .menu-navigation
        flex-direction: column
        width: 100% !important
        align-items: flex-start !important
        >div
            width: 100% !important
        .menu-navigation-navigation-link
            justify-content: flex-start !important
    .title-common
        padding: 0 !important
    .wrapper-main-change-password
        width: 100% !important
        .main-change-password
            width: 100% !important
    .wrap-qr-code
        canvas
            width: 100% !important
            height: 100% !important
    .main-payment
        flex-direction: column !important
        .pro-banking-main-payment
            width: 100% !important
    .right-side-account
        padding: 25px 5px !important
@media screen and ( max-width: 280px )

    .dv-v-a
        font-size: 8px !important
    .component-detail-info-account
        &::last-of-type
            .right-component-detail-info
                flex-direction: column !important
    .text-promotion
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis