.menu-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu-navigation .menu-navigation-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-navigation .menu-navigation-navigation-link .menu-navigation-link {
  text-decoration: none;
  color: #000;
}

.menu-navigation .menu-navigation-navigation-link .menu-navigation-link .menu-navigation-navigation-link-text {
  font-weight: 600;
}

.active-link .menu-navigation-navigation-link-text {
  color: #1fa64d !important;
}
